.DS_Store
xcuserdata
*.RPP-bak
/NeuralAmpModeler/build-win/
/NeuralAmpModeler/build-mac/
/NeuralAmpModeler/build-web/
/TemplateProject/build-win/
/TemplateProject/build-mac/
/TemplateProject/build-web/
.idea/

*.ipch
*.db
*.suo
*/.vs
*.pem
mkcert*

NeuralAmpModeler/*.wav
NeuralAmpModeler/peaks/
